<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panda01.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,747}</string>
                <key>spriteSourceSize</key>
                <string>{650,747}</string>
                <key>textureRect</key>
                <string>{{803,1038},{650,747}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panda02.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,958}</string>
                <key>spriteSourceSize</key>
                <string>{800,958}</string>
                <key>textureRect</key>
                <string>{{1,1038},{800,958}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda03.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,300}</string>
                <key>spriteSourceSize</key>
                <string>{483,300}</string>
                <key>textureRect</key>
                <string>{{803,1690},{483,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda04.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1035}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1035}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,1035}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda05.jpeg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{1288,1690},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kungFuPanda.png</string>
            <key>size</key>
            <string>{1602,1997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10a9e6a649e8994b8a3f80bc1e11f372:8ffa51da815174828847228fe5a8f296:8efb97e0e5a4ae665cbac60f6454a1c9$</string>
            <key>textureFileName</key>
            <string>kungFuPanda.png</string>
        </dict>
    </dict>
</plist>
